<% include ./partials/head %>
<div class="main">
  <% include ./partials/header %>
  <div class="content mt_0">
    <h2>About</h2>
    <p class="about_content">PANDI dibentuk oleh komunitas Internet Indonesia bersama pemerintah pada 29 Desember 2006 untuk menjadi registri domain .id. Pada 29 Juni 2007, pemerintah melalui Departemen Komunikasi dan Informatika RI secara resmi menyerahkan pengelolaan seluruh domain internet Indonesia kepada PANDI, selain go.id dan mil.id. Penyerahan pengelolaan domain .id ini dituangkan dalam Berita Acara Penyerahan Pengelolaan Domain .id no. BA–343/DJAT/MKOMINFO/6/2007 dari Dirjen Aptel ke PANDI.</p>
    <p class="about_content">Pada 16 September 2014, pemerintah melalui Keputusan Menteri Komunikasi dan Informatika Republik Indonesia, No. 806 Tahun 2014 yang menetapkan PANDI sebagai Registri Nama Domain Tingkat Tinggi Indonesia.</p>
    <p class="about_content">Pengelola Nama Domain Internet Indonesia (PANDI) adalah organisasi nirlaba yang melakukan pengelolaan nama domain tingkat tinggi Indonesia (.id) dan domain-domain tingkat dua di bawahnya.</p>
  </div>
</div>
<% include ./partials/footer %>