<% include ./partials/head %>
<div class="main">
  <% include ./partials/header %>
  <div class="about_bg"></div>
  <div class="content mt_0">
    <h2>Contact</h2>
    <p class="about_content">Silahkan menghubungi kami pada hari Senin - Jumat jam 09.00 - 17.30 WIB, melalui informasi dibawah ini.</p>
  </div>
</div>
<% include ./partials/footer %>