<% include ./partials/head %>
<div class="main">
  <% include ./partials/header %>
  <div class="content mt_0">
    <h2>Contact</h2>
    <p class="about_content">Silahkan menghubungi kami pada hari Senin - Jumat jam 09.00 - 17.30 WIB, melalui informasi dibawah ini.</p>
    <div class="form_section">
      <div class="form_control">
        <label for="inp_email">Name</label>
        <input type="text" name="inp_name" id="inp_name" autocomplete="autocomplete">
      </div>
      <div class="form_control">
        <label for="inp_email">Email</label>
        <input type="text" name="inp_email" id="inp_email" autocomplete="autocomplete">
      </div>
      <div class="form_control">
        <label for="inp_phone">Phone no.</label>
        <input type="text" name="inp_phone" id="inp_phone" autocomplete="autocomplete">
      </div>
      <div class="form_control">
        <label for="inp_subject">Subject</label>
        <input type="text" name="inp_subject" id="inp_subject" autocomplete="autocomplete">
      </div>
      <div class="form_control">
        <label for="inp_message">Message</label>
        <textarea rows="4" name="inp_message" id="inp_message"></textarea>
      </div>
      <div class="button_control">
        <button type="button">Submit</button>
      </div>
    </div>
  </div>
</div>
<% include ./partials/footer %>