<% include ./partials/head %>
<div class="main">
  <% include ./partials/header %>
  <div class="content mt_0">
    <h2>Gallery</h2>

    <div class="img_gallery">
        <a href="https://dbrekalo.github.io/simpleLightbox/demo/images/4big.jpg" title="Caption for gallery item 1"><img src="https://dbrekalo.github.io/simpleLightbox/demo/images/4small.jpg" alt="Gallery image 1" /></a>
        <a href="https://dbrekalo.github.io/simpleLightbox/demo/images/5big.jpg" title="Caption for gallery item 2"><img src="https://dbrekalo.github.io/simpleLightbox/demo/images/5small.jpg" alt="Gallery image 2" /></a>
        <a href="https://dbrekalo.github.io/simpleLightbox/demo/images/6big.jpg" title="Caption for gallery item 3"><img src="https://dbrekalo.github.io/simpleLightbox/demo/images/6small.jpg" alt="Gallery image 3" /></a>
        <a href="https://dbrekalo.github.io/simpleLightbox/demo/images/4big.jpg" title="Caption for gallery item 1"><img src="https://dbrekalo.github.io/simpleLightbox/demo/images/4small.jpg" alt="Gallery image 1" /></a>
        <a href="https://dbrekalo.github.io/simpleLightbox/demo/images/5big.jpg" title="Caption for gallery item 2"><img src="https://dbrekalo.github.io/simpleLightbox/demo/images/5small.jpg" alt="Gallery image 2" /></a>
        <a href="https://dbrekalo.github.io/simpleLightbox/demo/images/6big.jpg" title="Caption for gallery item 3"><img src="https://dbrekalo.github.io/simpleLightbox/demo/images/6small.jpg" alt="Gallery image 3" /></a>
    </div>    

  </div>
</div>
<script type="application/javascript" src="/public/scripts/simple-lightbox.min.js"></script>
<link rel="stylesheet" href="/public/styles/simplelightbox.min.css" />
<script type="application/javascript" src="/public/scripts/gallery.js"></script>
<% include ./partials/footer %>