</body>
<script type="application/javascript" src="/public/scripts/jquery.min.3.4.0.js"></script>
<script type="application/javascript" src="/public/scripts/header.js"></script>

<script type="application/javascript" src="/public/scripts/simple-lightbox.min.js"></script>
<link rel="stylesheet" href="/public/styles/simplelightbox.min.css" />
<script type="application/javascript" src="/public/scripts/init.js"></script>
</html>
