<div class="header">MCMS</div>
<div class="menuToggle">
  <input type="checkbox">
  <span></span><span></span><span></span>
  <ul class="menu">
    <a href="/">
      <li>Home</li>
    </a>
    <a href="/">
      <li>Gallery</li>
    </a>
    <a href="/about">
      <li>About</li>
    </a>
    <a href="/contact">
      <li>Contact</li>
    </a>
  </ul>
</div>